@mixin media-from($media) {
  @media only screen and (min-width: $media) {
    @content;
  }
}

@mixin media-to($media) {
  @media only screen and (max-width: $media) {
    @content;
  }
}

@mixin center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
