.footer {
  margin: 0 auto;
  height: 30rem;
  background-color: #101010;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include media-to($tablet-bp) {
    height: unset;
  }
  > div {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    @include media-to($tablet-bp) {
      padding: 3rem 0;
      flex-basis: 100%;
    }
    &:last-child {
      flex-basis: 100%;
    }
  }
  &__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    font-weight: lighter;
    letter-spacing: 1px;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-green;
  }
  &__desc {
    color: $color-grey;
    width: 60%;
    text-align: center;
    padding: 1rem 3rem;
    @include media-to($desktop-bp) {
      padding: 1rem 0;
    }
  }
  &__copyright {
    color: $color-grey;
    font-size: 1.4rem;
    background-color: #0e0e0d;
  }
}
