.gallery {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  &__col {
    display: flex;
    flex-direction: column;
    &:nth-child(3) {
      @include media-to($wide-bp) {
        display: none;
      }
    }
    > img {
      display: flex;
      height: auto;
      flex-basis: 50%;
      filter: grayscale(100%) brightness(70%);
      transition: all 0.4s;
      &:hover {
        filter: grayscale(0%) brightness(90%);
      }
    }
  }
}

.col {
  &-xl,
  &-small {
    flex-direction: row;
    flex-wrap: wrap;
  }
  &-xl {
    flex-basis: calc(2 * 100% / 7);
    @include media-to(1676px) {
      flex-basis: calc(100% / 3);
    }
    @include media-to($wide-bp) {
      flex-basis: calc(100% / 2);
    }
  }
  &-small {
    @include media-to(1676px) {
      display: none;
    }
    flex-basis: calc(100% / 7);
    > img {
      flex-basis: 100%;
    }
  }
}
