.stats {
  display: flex;
  width: 118rem;
  margin: 0 auto;
  height: 45rem;
  @include media-to($wide-bp) {
    width: unset;
    max-width: 100rem;
  }
  @include media-to($tablet-bp) {
    padding-top: 5rem;
    flex-direction: column;
    height: unset;
  }
  > div {
    flex-basis: calc(100% / 3);
  }
  &__projects,
  &__clients,
  &__months {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title--red,
  &__title--green,
  &__title--dark-blue {
    @include title;
  }
  &__title--red {
    color: $color-red;
    border: 3px solid $color-red;
  }
  &__title--green {
    color: $color-green;
    border: 3px solid $color-green;
  }
  &__title--dark-blue {
    color: $color-dark-blue;
    border: 3px solid $color-dark-blue;
  }
  &__subtitle {
    display: block;
    font-size: 1.8rem;
    font-weight: lighter;
    color: $color-grey;
    text-transform: uppercase;
  }
  &__paragraph {
    font-size: 1.8rem;
    padding: 1rem 3rem;
    text-align: center;
    min-height: 13rem;
    @include media-to($tablet-bp) {
      max-width: 50rem;
    }
  }
}
