.stats {
  display: flex;
  width: 118rem;
  margin: 0 auto;
  height: 45rem;
  @include media-to($wide-bp) {
    width: unset;
    max-width: 100rem;
  }
  @include media-to($tablet-bp) {
    padding-top: 5rem;
    flex-direction: column;
    height: unset;
  }
  > div {
    flex-basis: calc(100% / 3);
  }
  &__projects,
  &__clients,
  &__months {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title--red,
  &__title--green,
  &__title--dark-blue {
    @include title;
  }
  &__title--red {
    color: $color-red;
    border: 3px solid $color-red;
  }
  &__title--green {
    color: $color-green;
    border: 3px solid $color-green;
  }
  &__title--dark-blue {
    color: $color-dark-blue;
    border: 3px solid $color-dark-blue;
  }
  &__subtitle {
    display: block;
    font-size: 1.8rem;
    font-weight: lighter;
    color: $color-grey;
    text-transform: uppercase;
  }
  &__paragraph {
    font-size: 1.8rem;
    padding: 1rem 3rem;
    text-align: center;
    min-height: 13rem;
    @include media-to($tablet-bp) {
      max-width: 50rem;
    }
  }
}

#circle1,
#circle2,
#circle3 {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
  position: relative;
  &::before {
    position: absolute;
    top: 65%;
    text-align: center;
    color: $color-grey;
    width: 100%;
    font-size: 1.7rem;
    font-weight: lighter;
  }
  & * {
    font-size: 6rem;
    font-weight: $fw-bold;
  }
}

#circle1 {
  &::before {
    content: 'BIG PROJECTS';
  }
  div {
    color: #f34739 !important;
  }
}
#circle2 {
  &::before {
    content: 'CLIENTS';
  }
  div {
    color: $color-green !important;
  }
}
#circle3 {
  &::before {
    content: 'MONTHS';
  }
  div {
    color: #000 !important;
  }
}
